@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100vw;
}

body {
  background-color: #0d1117;
  color: white;
  max-width: 100vw;
  
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4d4963;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #f2eaff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4d4963;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4d4963;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fancy-shadow {
  box-shadow: 0px 0px 80px 80px #867bb472;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.extend-beyond-left-of-vp {
  margin-left: -10vw;
}

.extend-beyond-right-of-vp {
  margin-right: -10vw;
}

.slightly-extend-beyond-left-of-vp {
  margin-left: -1.7vw;
}

.colorBGInsert {
  background: rgb(10, 114, 254);
  background: linear-gradient(
    -210deg,
    rgb(0, 85, 196) 0%,
    rgba(197, 153, 254, 1) 58%,
    rgba(101, 9, 221, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container {
  @apply p-8 text-white;
}

.faqBox:hover {
  cursor: pointer;
}

.faqAnswerHide {
  display: hidden;
}

.inherit-width {
  width: -webkit-fill-available
}